<% provide(:title, "Index") %>

<div>
  <div class="container" id="content">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome to the Unlicht RPG Toolkit</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Browse our Pre-made tables</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <b class="btn">Go Now</b>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><h2>or</h2></p>
        <p><h2>Sign up to make your own tables</h2></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <b class="btn">Sign-up now</b>
      </div>
    </div>
  </div>
</div>
