/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron');

 /* Universal */

 html {
   font-size: 7px;
 }

 html, body {
   height: 100%;
 }


 body {
   font-family: 'Cuprum', sans-serif;
   color: red;
   background-color: black;
   margin: 0px;
   padding: 0px;
 }

 /* Typography */
 h1, h2, h3, h4, h5, h6 {
   line-height: 1;
 }

 h1 {
   font-size: 2.4em;
   letter-spacing: -1px;
   text-align: center;
 }

 h2 {
   font-size: 1.7em;
   letter-spacing: -1px;
   text-align: center;
 }

 @media only screen and (min-width : 480px) {
   h1 {
     font-size: 2.8em;
     padding: 15px;
   }

   h2 {
     font-size: 2.1em;
     padding: 0px 12px 12px 12px;
   }
 }
