@import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron');
@import "bootstrap-sprockets";
@import "bootstrap";


/* Colors */
$slate-gray: #222;

/* Universal */
html {
  font-size: 7px;
}

/* Custom, iPhone */

@media only screen and (min-width : 320px) {
  header {
    height: 94px;
    line-height: 1;
    background-color: $slate-gray;
    div {
      margin: 0px;
      text-align: center;
      font-size: 6rem;
      letter-spacing: -1px;
      padding-top: 4px;
      div {
        display: inline-block;
        color: red;
        font-size: .5em;
        text-align: left;
        padding-left: 10px;
        line-height: 1;
        width: 100%;
        div {
          display: inline-block;
          color: green;
          font-size: 1em;
          padding-left: 4px;
          padding-bottom: 1px;
          width: auto;
        }
        nav {
          display: inline-block;
          padding-bottom: 1px;
          float: right;
          width: auto;
          ul.nav {
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: right;
            span.navbtns {
              font-size: .5em;
              color: #0F0;
              a.btn-link {
                text-decoration: none;
                color: red;
                font-size: 1.5em;
                &:hover {
                  color: gray;
                }
              }
            }
            li.dropdown.open {
              z-index: 1;
            }
            b.dropdown-toggle {
              font-size: 1em;
              padding: 0px;
              padding-right: 5px;
              background-color: transparent;
              color: gray;
              float: right;
            }
            .dropdown {
              background-color: $slate-gray;
            }
            .divider {
              background-color: darkgreen;
            }
            li a {
              color: red;
              &:hover {
                color: black;
                background-color: red;
              }
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  header {
    height: 143px;
    div {

    }
    div.container-fluid {
      padding-top: 22px;
      letter-spacing: 2px;
      font-size: 8rem;
      div div {
        padding-top: 6px;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  header {
    height: 118px;
    div.container-fluid {
      font-size: 8rem;
      span.title {
        display: inline-block;
        font-size: 1.14em;
        float: left;
        padding-left: 3px;
        letter-spacing: -3px;
      }
      div.location {
        width: 45%;
        div {
          padding-top: 26px;
          margin-right: 34px;
          padding-bottom: 0px;
        }
      }
    }
  }
}

/* Kindle Fire HDX 8.9 */
@media only screen and (min-width: 800px) {
  header {
    div.container-fluid {
      div.location {
        nav {
          padding-top: 48px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 960px) {
  header {
    div.container-fluid {
        div.location {
        width: 54%;
        nav {
          padding-top: 44px;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  header {
    div.container-fluid {
      font-size: 10rem;
      span.title {
        padding-left: 1.6%;
      }
      div.location {
        width: 57%;
        div {
          padding-top: 33px;
        }
      }
    }
  }
}

/* 2k and Higher Screens */
@media only screen and (min-width: 1600px) {
  header {
    div.container-fluid {
      div.location {
        width: 67%;
      }
    }
  }
}
