@import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron');
@import "bootstrap-sprockets";
@import "bootstrap";


/* Colors */
$slate-gray: #222;

/* Universal */
html {
  font-size: 7px;
}

/* Custom, iPhone */

@media only screen and (min-width : 320px) {
  header {
    height: 94px;
    line-height: 1.3;
    background-color: $slate-gray;
    div {
      margin: 0px;
      text-align: center;
      vertical-align: middle;
      font-size: 6rem;
      letter-spacing: -1px;
      padding-top: 4px;
      div {
        color: red;
        font-size: .5em;
        text-align: left;
        padding-left: 10px;
        padding-top: 0px;
        line-height: 1;
        div {
          display: inline-block;
          color: green;
          font-size: 1em;
          padding-left: 4px;
          padding-bottom: 1px;
        }
        nav {
          display: inline-block;
          vertical-align: middle;
          padding-bottom: 1px;
          float: right;
          ul.nav {
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: right;
            span.navbtns {
              font-size: .5em;
              color: #0F0;
              a.btn-link {
                text-decoration: none;
                color: red;
                &:hover {
                  color: gray;
                }
              }
            }
            b.dropdown-toggle {
              font-size: 1em;
              padding: 0px;
              padding-right: 5px;
              background-color: transparent;
              color: gray;
              float: right;
            }
            .dropdown {
              background-color: $slate-gray;
            }
            .divider {
              background-color: darkgreen;
            }
            li a {
              color: red;
              &:hover {
                color: black;
                background-color: red;
              }
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  header {
    height: 115px;
    div {
      font-size: 8rem;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screns */
@media only screen and (min-width: 1200px) {

}
