
/* Colors */
$slate-gray: #222;

div#content {
  padding-bottom: 55px;
  background-color: #333;
}

h1 {
  padding: 5px;
  color: gray;
}

h2 {
  padding-bottom: 7px;
  color: #0F0;
  margin: 0px;
}

div.row b {
  margin: auto;
  margin-top: 9px;
  background-color: red;
  color: black;
  font-size: 1.7em;
  letter-spacing: 1px;
  &:hover {
    color: #0F0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 567px) {
  html, body {
    overflow: hidden;
  }
}
