@import url('https://fonts.googleapis.com/css?family=Cuprum|Orbitron');
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Cuprum', sans-serif;
  color: red;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #222;
}

/* Responsive Display */
@media only screen and (max-width: 320px) {
  header {
    height: 85px;
    line-height: 1.3;
    div {
      margin: 0px;
      text-align: center;
      vertical-align: middle;
      font-size: 42px;
      letter-spacing: -1px;
      padding-top: 4px;
      div {
        color: red;
        font-size: 21px;
        text-align: left;
        padding-left: 10px;
        padding-top: 0px;
        line-height: 1;
        div {
          display: inline-block;
          color: green;
          padding-left: 4px;
          padding-bottom: 1px;
        }
        nav {
          display: inline-block;
          vertical-align: middle;
          padding-bottom: 1px;
          float: right;
          ul.nav {
            list-style: none;
            padding: 0px;
            margin: 0px;
            float: right;
            b.dropdown-toggle {
              padding: 0px;
              padding-right: 5px;
              background-color: transparent;
              color: gray;
              float: right;
            }
            .dropdown {
              background-color: #222;
            }
            .divider {
              background-color: darkgreen;
            }
            a {
              color: red;
              &:hover {
                color: black;
                background-color: red;
              }
            }

          }
        }
      }

    }
  }
}
