<header>
  <div class="container-fluid">
    <span class="title">Unlicht RPG Toolkit</span>
    <div class="location"> >>
      <div><%= yield(:title) %></div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <span class="navbtns">
            <a href="#" class="btn btn-link">Tables</a>|
            <a href="#" class="btn btn-link">Login</a>|
            <a href="#" class="btn btn-link">Sign up</a>
          </span>
          <li class="dropdown">
            <b class="btn dropdown-toggle" data-toggle="dropdown">
              <b class="glyphicon glyphicon-menu-hamburger"></b>
            </b>
            <ul class="dropdown-menu dropdown-menu-right">
              <li id="menuItem"><a href="#">Tables</a></li>
              <li class="divider"></li>
              <li id="menuItem"><a href="#">Login</a></li>
              <li class="divider"></li>
              <li id="menuItem"><a href="#">Sign up</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
