<header>
  <div class="container-fluid">
    Unlicht RPG Toolkit
    <div> >>
      <div><%= yield(:title) %></div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <b class="btn dropdown-toggle" data-toggle="dropdown">
              <b class="glyphicon glyphicon-menu-hamburger"></b>
            </b>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Tables</a></li>
              <li class="divider"></li>
              <li><a href="#">Login</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign up</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
